.midddleSection{
    overflow-y:scroll;
}
.midddleSection::-webkit-scrollbar{
    display:none;
}
.navbar{
    display:grid !important;
    grid-template-rows: 1fr 1fr;
    border-bottom:1px solid #efefef;
    height:90px;
    width:100%;
    position: sticky;
        top: 0;
        background-color: transparent;
        z-index: 100;
    backdrop-filter: blur(10px);
}
.subcontainer{
    width:100%;
  
}
.tabs{
     display:grid;
     height:100%;
     grid-template-columns: 1fr 1fr;
     text-align: center;
     
     align-content: center;

}
.tab{
    width:100%;
    height:100%;
    box-sizing:border-box;
    padding:14px;
    border:none;
    outline:none;
    background:none;
    font-size:18px;
    font-weight: 600;
}
.tab:hover{
    background:rgb(224, 217, 217);
    /* color:white; */
}

.Container1 {
    display: flex;
    padding-left: .1rem;
   /* border-bottom:1px solid #efefef; */


}

.Container1>img {
    padding: 3px;
    border: 1px solid #efefef;
    border-radius: 50%;
    
}


.button {
    border: 0.1rem solid gray;
    height: 1.5rem;
    width: 7.5rem;
    color: rgb(29, 161, 242);
    font-weight: bold;
}

.button1 {
    border: none;
    height: 1.5rem;
    width: 10.5rem;
    color: rgb(29, 161, 242);
    font-weight: bold;
    margin-bottom: 0.4rem;
}

.footerIcon {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2px 10px;
    align-items: center;
    border-bottom:1px solid #efefef;
    padding-bottom:10px;
}

.button2 {
    background-color: rgb(29, 161, 242);
    border: none;
    outline: none;
    padding: 10px 20px;
    color: white;
    border-radius: 20px;

}

.icon {
    width: 40%;
    margin-top: 0.4rem;
    font-size: 1.3rem;
    margin-left: 4.5rem;
    align-items: center;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    color: rgb(29, 161, 242);
}

.icon:hover {
    cursor: pointer;
}

.textarea {
    border: none;
    outline: none;
    padding: 10px;
    resize: none;
    font-size: 18px;

}

.textarea::-webkit-scrollbar {
    display: none;
}
.textarea::placeholder{
    font-size:20px;
}
.selectbtn {
    border-radius: 10px;
    height: 20px;
    margin-top: 8px;
}
.cancelSelectImg{
    cursor:pointer;
    /* margin */
}
.selectImage{
    cursor:pointer;
  
}
.selectImage img{
    object-fit: cover;
    width: 300px;
        height: 300px;
        border:1px solid black;
}